<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlowerFly</title>
</head>
<body>
<h2>FlowerFly account</h2>
<h1 style="color:#23C16B;">Verify code</h1>
<p>
    Please use the following verify code for the FlowerFly account: ${email}
</p>
<p>Security code: <b>${pincode}</b></p>
<p>
    If you didn't request this code, you can safely ignore this email.
    Someone else might have typed your email address by mistake.
</p>
<br/>
<p>Thanks,</p>
<p>The FlowerFly development team.</p>
</body>
</html>
